* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Header unit */

.navbar {
  width: 100%;
  background: #fff;
  padding: 24px 0;
}

.navmenu {

  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: block;
  width: 150px;
  height: auto;
}

.navlist {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
}

.navlink {
  text-decoration: none;
  color: #575757;
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
}

.navlink:hover {
  color: #dad9d9;
}

.button {
  background: #1D4ED8;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: #1f1485;
}

/* section 1 */

.bgimage {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgb(0, 0, 0.7)), url("./Image/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 815px;
  width: 100%;
}

.text {
  padding-top: 200px;
  color: #fff;
}

.content {
  width: 1350px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 200px;
  text-align: center;
  margin: 0 auto;
}

.button2 {
  background-color: #1D4ED8;
  color: #fff;
  border: none;
  padding: 18px 36px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
}

.button2:hover {
  cursor: pointer;
  background-color: #1f1485;
}

.headline {
  font-size: 80px;
  font-weight: 600;
}

.description {
  font-size: 22px;
  font-weight: 180;
  width: 829px;
  padding-top: 20px;
}

/* section 2 */

.meet {
  width: 1320px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 85px;
  margin-bottom: 65px;
  font-size: 40px;
  font-weight: 600;
  color: #000102;
}

.speakers {
  width: 1350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.speakerbox {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  padding-bottom: 25px;
  overflow: hidden;
}

.intext {
  padding-left: 20px;
  line-height: 1.6;
  padding-top: 12px;
}

.stext {
  color: #1D4ED8;
  font-weight: 600;
}

.stext2 {
  color: #575757;
}


/* section3 */

.speaker {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;

}

.securespot {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.s2text {
  width: 1350px;
  text-align: center;
  margin-top: 100px;
}

.s2sub {
  font-size: 55px;
  font-weight: 600;
  margin-top: 50px;
}

.s2para {
  font-size: 20px;
  font-weight: 300;
  padding-top: 20px;
  margin: 0 auto;
}

.pricing {
  width: 1350px;
  display: flex;
  margin-top: 50px;
  padding: 50px 80px;
  justify-content: space-between;
}

.pricebox {
  border: 1px solid #E5E7EB;
  min-width: 370px;
  border-radius: 12px;
  padding: 32px 50px;
  margin-bottom: 80px;
  text-align: left;
  line-height: 2.0;
}

.priceboxb {
  background-color: #0D1B2A;
  min-width: 370px;
  border-radius: 12px;
  padding: 32px 50px;
  margin-bottom: 80px;
  text-align: left;
  color: #fff;
  line-height: 2.0;
}

.button3 {
  color: #1D4ED8;
  border: 1px solid #1D4ED8;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 20px;
}

.button3:hover {
  cursor: pointer;
  background-color: #dad9d9;
}

.button3b {
  color: #fff;
  background-color: #1D4ED8;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 20px;
}

.button3b:hover {
  cursor: pointer;
  background-color: #1f1485;
}

.divider {
  border: none;
  height: 1px;
  background-color: #E5E7EB;
  margin: 24px 0;
}

.cash {
  font-size: 35px;
  font-weight: 600;
}




/* footer  */

.footer {
  background-color: #0D1B2A;
  width: 100%;
  color: #E5E7EB;
  padding-top: 30px;
  padding-bottom: 20px;
}

.foot {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.divider2 {
  width: 1350px;
  border: none;
  height: 1px;
  background-color: #575757;
  align-items: center;
}

.logo-and-icon {
  display: flex;
  align-items: center;
  width: 1350px;
  justify-content: space-between;
  margin-bottom: 20px;

}

.social-icon {
  display: flex;
  gap: 15px;
  font-size: 28px;
}

.iconn {
  color: #9b9999;

}

.iconn:hover {
  color: #ffff;
}

.policy {
  display: flex;
  align-items: center;
  width: 1350px;
  justify-content: space-between;
  font-weight: 200;
}

.policy2 {
  display: flex;
  text-decoration: none;
  align-items: center;
  list-style: none;
  gap: 12px;
  margin: 20px 0;
}