* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Header unit */

.navbar {
  width: 100%;
  background: #fff;
  padding: 24px 0;
}

.navmenu {

  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: block;
  width: 150px;
  height: auto;
}

.navlist {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 36px;
}

.navlink {
  text-decoration: none;
  color: #575757;
  font-size: 18px;
  font-weight: 500;
  transition: .3s;
}

.navlink:hover {
  color: #dad9d9;
}

.button {
  background: #1D4ED8;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: #1f1485;
}

/* section 1 */

.bgimage {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgb(0, 0, 0.7)), url("./Image/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 815px;
  width: 100%;
}

.text {
  padding-top: 200px;
  color: #fff;
}

.content {
  width: 1350px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 200px;
  text-align: center;
  margin: 0 auto;
}

.button2 {
  background-color: #1D4ED8;
  color: #fff;
  border: none;
  padding: 18px 36px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
}

.button2:hover {
  cursor: pointer;
  background-color: #1f1485;
}

.headline {
  font-size: 80px;
  font-weight: 600;
}

.description {
  font-size: 22px;
  font-weight: 180;
  width: 829px;
  padding-top: 20px;
}

/* section 2 */

.meet {
  width: 1320px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 85px;
  margin-bottom: 65px;
  font-size: 40px;
  font-weight: 600;
  color: #000102;
}

.speakers {
  width: 1350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.speakerbox {
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  padding-bottom: 25px;
  overflow: hidden;
}

.intext {
  padding-left: 20px;
  line-height: 1.6;
  padding-top: 12px;
}

.stext {
  color: #1D4ED8;
  font-weight: 600;
}

.stext2 {
  color: #575757;
}